<div class= "container">
  <h1>Stupid Coaching in Rails</h1>
  <div class= "card-white">
    <p> - <%= @question %><br>
    <em>-You</em>
  </div>
  <div class= "card-yellow">
    <p> - <%= @answer %><br>
    <em> - Your coach </em>
  </div>
</div>
