<div class ="container">
  <h1>Stupid Coaching</h1>
  <p> Ask your coach anything:
  <form action="/answer" data-turbo="false">
    <div class="input-group mb-3">
      <input type="text" name="question" class="form-control" placeholder="Ask here">
      <div class="input-group-append">
        <input type="submit" class="btn btn-primary" value="Ask!">
      </div>
    </div>
  </form>
</div>
