<div class ="container">
  <h1>Stupid Coaching in Rails</h1>
  <p> Ask your coach anything:
  <form action="/answer" data-turbo="false">
    <input type="text" name="question">
    <input type="submit" value="Ask!">
  </form>
</div>
